extends layout

block content
  #banner.page-header 
    .row 
      .col-lg-6 
        h1 
          |  MekanBul 
          small &nbsp; Civardaki mekanları keşfet! 
  .row 
      .row.list-group
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item  
          h4 
            a(href='/mekan') Donas 
            small &nbsp; 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 16 km
          p.address Isparta/Merkez
          p  
            span.label.label-warning Hatay Usülü Döner
            | &nbsp;
            span.label.label-warning Zurna Döner
            | &nbsp;
  .row 
      .row.list-group
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item 
          h4 
            a(href='/mekan') Paradiso Pizza & Hamburger 
            small &nbsp; 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
          span.badge.pull-right.badge-default 15 km
          p.address Isparta/Özkanlar
          p  
            span.label.label-warning Cheeseburger
            | &nbsp;
            span.label.label-warning Pizza
            | &nbsp;
            span.label.label-warning İtalyan Burger
            | &nbsp;
  .row 
      .row.list-group
      .col-xs-12.col-sm-12 
        .col-xs-12.list-group-item 
          h4 
            a(href='/mekan') Otel Basmacıoğlu 
            small &nbsp; 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star 
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
          span.badge.pull-right.badge-default 15 km
          p.address Isparta/Merkez
          p  
            span.label.label-warning Temizlik  
            | &nbsp;
            span.label.label-warning Yemek 
            | &nbsp;
          
