extends layout 

block content 
    .row.page-header 
        .col-lg-12 
            h1 Donas 
    .row 
        .col-xs-12.col-md-12 
            .row 
                .col-xs-12.col-sm-6 
                    p.rating 
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                        span.glyphicon.glyphicon-star
                    p Isparta/Merkez
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Açılış Saatleri  
                        .panel-body 
                            p 
                                | Pazartesi-Cuma: 09:00 - 24:00
                            p 
                                | Cumartesi-Pazar: 10:00 - 23:00
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Neler Var? 
                        .panel-body
                            span.label.label-warning Hatay Usulü Dürüm
                            | &nbsp;
                            span.label.label-warning Zurna Dürüm
                            | &nbsp;
                            span.label.label-warning Gobik Dürüm
                            | &nbsp;
                .col-xs-12.col-sm-6 
                    .panel.panel-primary 
                        .panel-heading 
                            h2.panel-title Konum Bilgisi 
                        .panel-body 
                            -var enlem=37.78
                            -var boylam=30.56
                            img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center='+enlem+','+boylam+'&zoom=12&size=600x400&markers='+enlem+','+boylam+'&key=AIzaSyCmmKygTpBzHGOZEciJpAdxC9v_tWHagnE')
    .row 
        .col-xs-12 
            .panel.panel-primary 
                .panel-heading 
                    a.btn.btn-default.pull-right(href='/mekan/yorum/yeni') Yorum ekle 
                    h2.panel-title Müşteri yorumları
                .panel-body.review-container 
                    .row
                        .review 
                            .well.well-sm.review-header
                                span.rating 
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star
                                span.glyphicon.glyphicon-star-empty
                                span.review-author Mehmet Dikran IŞIK
                                small.reviewTimestamp &nbsp; 13 Ekim 2022
                            .col-xs-12 
                                p Dönerler çok güzel!

